@import "tailwindcss";

:root {
  /* Cor de fundo principal */
  --cor-principal: #0b0f1a;

  /* Cor do formulario */
  --cor-secundaria: #111827;
   --cor-terciaria: #1f2933;

  /* Cor textos */
  --textos: #e5e7eb;
   --texto-secundario: #9ca3af;

  /* Definição de cores */
  --accent: #38bdf8;  
  --font-text: Inter, sans-serif;
}


